@model CodingEventsDemo.ViewModels.AddEventCategoryViewModel;

<p>
    <a asp-controller="EventCategory" asp-action="Create">Add Category</a>
</p>


<form asp-controller="EventCategory" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <input type="submit" value="Add  Category" />
</form>