@model List<CodingEventsDemo.Models.EventCategory>


<h1>Event Categories</h1>

<p>
    <a asp-controller="EventCategory" asp-action="Create">Add Category</a>
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
    </tr>
    @foreach (var cat in Model)
    {
        <tr>
            <td>@cat.Name</td>
        </tr>
    }
</table>